@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&family=Noto+Sans+SC:wght@100..900&family=ZCOOL+KuaiLe&display=swap');


body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
}

section{
  display: flex;
  justify-content: center;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 150px;
  left: 55%;
}

div{
  margin-bottom: 20px;
}

label{
  line-height: 40px;
}

button{
  width: 8em;
  padding: 8px;
  margin-top: 2em;
}

input{
  line-height: 24px;
}
