@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container, main{
    height: 724px;
    margin: 0 auto;
}


.container{
    max-width: 1440px;
    background-image: url(https://i.postimg.cc/SKVk2HBG/p2.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}

main{
    max-width: 1200px;
}

nav a{
    color: #25282B;
    text-decoration: none;
    font-size: 18px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.nav-logo{
    line-height: 180%;
    width: 150px;
}

.nav-menu{
    display: flex;
    float: right;
    margin-left: 50px;
    line-height: 28px;
}

.content{
    margin-top: 77px;
    width: 486px;
    font-optical-sizing: auto;
    font-style: normal;
}

.content p{
    color: #FDC435;
    font-size: 20px;
    line-height: auto;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.content h1{
    color: #333333;
    font-size: 64px;
    line-height: 120%;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.content aside{
    color: #828282;
    font-size: 24px;
    line-height: 36px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin-bottom: 42px;
}

.buttons .btn{
    padding: 8px 24px;
    border-radius: 8px;
    color: #25282B;
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.project{
    background-color: #FDC435;
}

.linkedIn{
    border: 1px solid #FDC435;
}