@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap');

    /*
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    */
    
    /*
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    */


body{
    font-family: "Saira Stencil One", "Noto Sans HK", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(draw/3.jpg);
}

main{
    max-width: 390px;
    height: 844px;
    margin: 0 auto;
}

section{
    max-width: 308px;
    height: 672px;
    padding-top: 87px;
}

section h1{
    margin-left: 100px;
    line-height: 50px;
    letter-spacing: 5%;
}


h1, h4{
    font-size: 35px;
    line-height: 50px;
    
}

.content p{
    margin-left: 220px;
    font-style: 20px;
    letter-spacing: 5%;
}

.buttons{
    margin-left: 75px;
    margin-bottom: 87px;
}

.buttons a{
    width: 110px;
    height: 66px;
    margin: 0 auto;
    display: block;
    /*flex-direction: column;*/
    text-align: center;
    margin-top: 46px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 10px;
    background-color: #e7e7e7;
    line-height: 250%;
}

header, article, .web-practise, .poster{
    background-color: #D9D9D9;
}

header{
    width: 144px;
    height: 67px;
    margin-left: 122px;
    border-radius: 10px;
}

.icons{
    padding-top: 21px;
    padding-left: 18px;
    display: flex;
    gap: 22px;
}

article, .web-practise, .poster{
    width: 308px;
    height: 568px;
    margin-left: 41px;
    margin-top: 37px;
    border-radius: 10px;
    position: relative; 
    padding: 10px;
    border: 1px solid #D9D9D9;
}

.poster img{
    margin-right: 5px;
}

article::after{
    content:'';
    position:absolute;
    bottom:100%;
    left:88px;
    border-width:20px;
    border-style:solid;
    border-color:transparent;
    margin-bottom:-3px;
    border-bottom-width:17px;
    border-bottom-color:currentColor;color:#dddddd;
}

.web-practise::after{
    content:'';
    position:absolute;
    bottom:100%;
    left:131px;
    border-width:20px;
    border-style:solid;
    border-color:transparent;
    margin-bottom:-3px;
    border-bottom-width:17px;
    border-bottom-color:currentColor;color:#dddddd;
}


.poster::after{
    content:'';
    position:absolute;
    bottom:100%;
    left:173px;
    border-width:20px;
    border-style:solid;
    border-color:transparent;
    margin-bottom:-3px;
    border-bottom-width:17px;
    border-bottom-color:currentColor;
    color:#dddddd;
}


.name_email{
    display: flex;
}


.name_email img{
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 21px;
}

.name_email ul{
    margin-top: 50px;
    margin-right: 39px;
    list-style: none;
}

ul, li {
    margin-left: 11px;
    padding-left: 0;
}

h2{
    margin-left: 21px;
}

.work_list{
    list-style: none;
}

aside{
    margin-left: 21px;
    margin-right: 21px;
}

.web-practise ul{
    margin-top: 50px;
    line-height: 200%;
    list-style: none;
}

.web-practise ul a{
    color: #000000;
}












/*
nav {
    padding: 30px 15px;
    text-align: right;
    background-color: #22222227;
}
nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

section {
    box-sizing: border-box;
    padding: 30px 250px;
    justify-content: center;
    
}

h1 {
    text-align: center;
    
}

p {
    display: block;
    margin: 0 auto;
}

ul {
    margin-left: 3%;
}

p, h2, form{
    margin-left: 5%
}*/
